{% extends 'base.html.twig' %}

{% block title %}Nous trouver - RNGS{% endblock %}



{% block body %}

    <!-- ============================ Début du titre de la page ================================== -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <h2 class="ipt-title">Carte aux trésors</h2>
                    <span class="ipn-subtitle">Où nous trouver ?</span>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Fin du titre de la page ================================== -->

    <!-- ============================ Début de la carte ======================================== -->

    <section class="gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <ul class="col-lg-8 col-md-10">
                    <div class="sec-heading center">
                        <h2>Retro Neo GameShop</h2>
                        <h3>Rue de la Régence</h3>
                        <h3>4000 Liège</h3>
                    </div>
                </ul>
            </div>
    </section>
    <div id="map" style="height: 800px;"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

    <script>
        // Initialisation de la carte avec Leaflet
        var mymap = L.map('map').setView([50.64281, 5.57332], 17);

        // Ajout de la couche de tuiles OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);


        // Ajout d'un marqueur personnalisé
        var myIcon = L.icon({
            iconUrl: "{{ asset('assets/img/rngslogo.png') }}",
            shadowUrl: "{{ asset('assets/img/rngslogoshadow.png') }}",
            iconSize: [150],
            shadowSize: [180],
            iconAnchor: [75, 100],
            shadowAnchor: [70, 115],
            popupAnchor: [-30, -76],
        });

        // Ajout d'un marqueur à un emplacement spécifique
        var markerlogo = L.marker([50.64281, 5.57332], {icon: myIcon}).addTo(mymap);
        var marker = L.marker([50.64281, 5.57332]).addTo(mymap);


        // Ajout d'une popup au marqueur
        //marker.bindPopup("<b>Retro Neo Game Shop</b>").openPopup();




    </script>
    <!-- ============================ Fin de la carte ======================================== -->

{% endblock %}